node_modules/
.dev.vars
.env
*.p8
*.p12
*.keystore
*.jks
.DS_Store
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/www/
android/local.properties
ios/build/
ios/ElectricMan/www/
